#navbar {
	position: top;
        top: 0;
        width: 100%;
        overflow: hidden;
	background-color: #293250;
        /*background-color: #000;*/
}

#navbar a {
	padding-top: 24px;
        float: right;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 5px;
        text-decoration: none;
}

#navbar li {
	display: inline-block;
        margin-left: 30px;
        padding-top: 23px;
        float: right;
        position: relative;
}

#navbar a:hover {
         color: #df5;
}

#navbar a::before {
	content: '';
        display: block;
        height: 5px;
        background-color: #df5;
        position: absolute;
        top: 0;
        width: 0%;
        transition: all ease-in-out 250ms;
}

#navbar a:hover::before {
	width: 100%;
}

h1:hover {
	color: #df5;
}

#navbar a.active::before {
	content: '';
        display: block;
        height: 5px;
        background-color: #df5;
        position: absolute;
        top: 0;
        width: 100%;
        transition: all ease-in-out 250ms;
}

#navbar a.active {
	color: #df5;
}

@media (max-width: 930px) {

	/*body {
		background-color: yellow;
	}

	#navbar {
		background-color: #000;
	}*/

	#navbar a {
		float: none;
		display: block;
		padding-top: 10px;
		padding-right: 8px;
	}

	#navbar li {
		float: none;
		display: block;
		padding-top: 10px;
		margin-left: 5px;
	}
	#navbar li.first {
		margin-top: 80px;
	}

	#navbar a:hover::before {
		width: 0%;
	}	
	#navbar a.active::before {
		content: '';
        	display: block;
		height: 5px;
		background-color: #df5;
		position: absolute;
		top: 0;
		width: 0%;
		transition: all ease-in-out 250ms;
	}
}

